.listHeader {
	/*border:red solid 1px;*/
	width: 80%;
	margin-left:10%;
	text-align: center;
}

.addListWrapper {
	/*border:red solid 1px;*/
	width:100%;
	text-align:left;
	display:flex;
}

.button {
	width:10%;
	padding:0;
	margin:0;
	padding:5px;
	font-size:1.5em;
	text-align: center;
	color:white;
	background: #9c9fa1;
	background-image: -webkit-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: -moz-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: -ms-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: -o-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: linear-gradient(to bottom, #9c9fa1, #2d3133);
}

/*
**work out how to make this grow as needed (as more text is put into it...)
*/

#addItem {
	width:90%;
	padding:0;
	margin:0;
}

/*
**list related
*/

.list {
	/*border:blue solid 1px;*/
	width: 80%;
	margin-left:10%;
}

.instructions {
	text-align: center;
}

ul {
	margin:0;
	padding:0;
}

.listItem {
	/*border:green solid 1px;*/
	list-style-type: none;
	display:flex;
	align-items:center;
	padding:0;
	background: #9c9fa1;
	background-image: -webkit-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: -moz-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: -ms-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: -o-linear-gradient(top, #9c9fa1, #2d3133);
	background-image: linear-gradient(to bottom, #9c9fa1, #2d3133);
}

.listText {
	/*border:purple solid 1px;*/
	margin:10px 10px;
	flex-grow: 10;
	font-size:1.5em;
	color:white;
	position:relative;
}

/*draw a circle*/
#circle {
	cursor:pointer;
	background-color:grey;
	border:white solid 4px;
	width:15px;
	height:15px;
	border-radius:50%;
	margin-left: 1em;
}

/*change circle on click
**
**can i only do this with js / jquery?
*/

#circle:active {
	background-color:blue;
	width:15px;
	height:15px;
	border-radius:50%;
	margin-right:1em;
}

/*draw a cross*/

#cross{
	cursor:pointer;
    width:25px;
    height:25px;
    position:relative;
    margin-right:1em;
}

#cross:before,#cross:after{
    content:'';
    position:absolute;
    width:21px;
    height:4px;
    background-color:white;
    border-radius:2px;
    top:42%;
}

#cross:before{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
	left:2px;
}

#cross:after{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
	right:2px;
}

/*change cross on click
**
**can i only do this with js / jquery?
*/




/*
** Crossed off items
*/

.listTextCrossed {
	/*border:purple solid 1px;*/
	margin:10px 10px;
	flex-grow: 10;
	font-size:1.5em;
	color:white;
	position:relative;
}


.listTextCrossed:after {
	/*border:purple solid 1px;*/
	position: absolute;
	left:0;
	top:50%;
	height:4px;
	background:blue;
	content:"";
	width:100%;
	display:block;
}

#circleCrossed {
	cursor:pointer;
	background-color:grey;
	border:blue solid 4px;
	width:15px;
	height:15px;
	border-radius:50%;
	margin-left: 1em;
}

